:root {
  --midnight: #2c3e50;
  --clouds: #ecf0f1;
}

html {
  min-height: 100vh;
  overflow-y: auto !important;
}

body {
  min-height: 100vh;
  color: var(--midnight) !important;
  background: var(--clouds) !important;
  padding: 1em !important;
}

pre {
  user-select: text !important;
  -webkit-user-select: text !important;
}

textarea {
  margin-bottom: 40px !important;
  margin-top: 24px !important;
}

h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}

h2 {
  margin: 0 0 0.5em;
  font-weight: normal;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Accordion styles */
.tabs {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tab {
  border-radius: 8px;
  width: 100%;
  color: white;
  overflow: hidden;
  margin-bottom: 40px;
}

.tab-content {
  max-height: 0;
  padding: 0 !important;
  color: var(--midnight);
  background: white;
  transition: all 0.35s;
}

.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: var(--midnight);
  cursor: pointer;
}

.tab-close:hover {
  background: #132537;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: var(--midnight);
  font-weight: bold;
  cursor: pointer;
}

.tab-label:hover {
  background: #132537;
}

.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}

input:checked ~ .tab-content {
  max-height: 100%;
  padding: 1em;
}

input:checked + .tab-label {
  background: #132537;
}

input:checked + .tab-label::after {
  transform: rotate(90deg);
}

.get-tag {
  text-transform: uppercase;
  color: rgb(0, 255, 244);
}

.post-tag {
  text-transform: uppercase;
  color: rgb(31, 188, 46);
}

.put-tag {
  text-transform: uppercase;
  color: rgb(178, 86, 0);
}

.patch-tag {
  text-transform: uppercase;
  color: rgb(255, 138, 0);
}

.delete-tag {
  text-transform: uppercase;
  color: rgb(243, 14, 14);
}

.ribbon {
  background-color: #2c3e50;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  right: -50px;
  top: 40px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: 0 0 10px #888888;
  -moz-box-shadow: 0 0 10px #888888;
  box-shadow: 0 0 10px #888888;
}
.ribbon a {
  border: 1px solid #ffffff;
  color: #ffffff;
  display: block;
  font: bold 81.25% "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444444;
}

.ribbon:hover {
  background: #132537;
}

.ribbon a:hover {
  color: #ffffff;
}
